
/* body {
	background:#00c6ff;
} */

#logo {
	text-align:center;
	margin:auto;
	background:#00b4ff;
	/* background-image: url('/img/back2.jpg'); */
	padding:30px;
	padding-top:60px;
}

#info {
}

.infobox {
	margin-top:20px;
	background:#eee;
	padding:12px;
	height:175px;
}

.center {
	text-align: center
}

.left {
	text-align:left;
}

#mynotice {
	margin-top: 15px;
}

.right {
	text-align: center;
}